.AddObject {
  width: 100%;
  height: 20px;
  .addButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 10px;
    float: right;
    width: 20px;
    height: 20px;
    background: white;
    color: $light-blue;
    text-align: center;
    cursor: pointer;
    border: 1px dashed $light-blue;
    .plus {
      position: relative;
      margin-bottom: 2px;
      font-size: 20px;
    }
    @-moz-document url-prefix() {
        .plus {
            margin: 0;
        }
    }
  }

  .change {
    margin-left: 10px;
    margin-top: 10px;
    padding: 10px;
    background: white;
    border: 1px solid $light-blue;
    color: $light-blue;
    border-radius: 2px;
    cursor: pointer;
    &:hover {
      border: 1px solid darken($light-blue, 20%);
      color: darken($light-blue, 20%);
    }
  }

  .wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 5;
    .modal-background {
      width: 100%;
      height: 100%;
      background: grey;
      opacity: 0.8;
    }
    .modal-window {
      position: absolute;
      margin-top: 80px;
      top: 0;
      left: 30%;
      width: 500px;
      height: 510px;
      background: white;
      z-index: 6;
      padding: 45px 20px 20px 20px;
      .close {
        position: absolute;
        top: 0;
        right: 10px;
        transform: rotate(45deg);
        cursor: pointer;
        font-size: 40px;
      }
      .content {
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        .img-box {
          display: inline-block;
          height: 215px;
          width: 180px;
          margin: 4px;
          overflow: hidden;
          cursor: pointer;
          .choose {
            position: relative;
            width: 100%;
            height: 10px;
            background: $light-grey;
          }
          .choosen {
            background: lighten(#109d72, 10%);
          }
          .img-hover {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            height: 100%;
            img {
              display: block;
              min-width: 100%;
              min-height: 100%;
              object-fit: cover;
            }
          }
        }
      }
    }
  }

  .selected {
    cursor: pointer;
  }

}
