$light-grey: #f6f6f6;
$grey-for-text: #a4a4a4;
$light-blue: #41abeb;
$footer-background: #2f2d2d;
$font-main-color: #4b4949;
$font-title-color: #323c43;

body {
  background: #c4c4c4;
  color: $font-main-color;
}

.page-title {
  margin-top: 40px;
  font-size: 40px;
  color: $font-title-color;
}


.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.Menu {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 50px;
  top: 0;
  .transp-bg {
    width: 100%;
    height: 100%;
    background: #109d72;
    opacity: 0.9;
  }
  .controls {
    position: absolute;
    width: 100%;
    right: 0;
    top: 0;
    text-align: right;
    padding-right: 5%;
    padding-top: 5px;
    .save {
      padding: 10px;
      border: 0;
      border-radius: 2px;
      background: $light-blue;
      color: white;
      font-weight: lighter;
      &:hover {
        background: darken($light-blue, 5%);
      }
    }
    .saved {
      position: relative;
      padding: 10px;
      top: 10px;
      color: white;
      font-weight: lighter;
    }
  }
}

.loading {
  color: $light-blue;
  font-size: 24px;
  margin-top: 100px;
}

.A4 {
  position: relative;
  width: 1286px;
  height: 909px;
  background-color: white;
  margin: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px grey;
}


.TitlePage {
  #logo{
    position: relative;
    bottom: 550px;
    right: 50px;
  }

  .title {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: right;
    float: right;
    bottom: 500px;
    right: 50px;
    font-size: 70px;
    color: $font-title-color;
    .small-text {
      margin-top: 30px;
      font-size: 20px;
    }
    .date {
      margin-top: 90px;
      font-size: 20px;
    }
  }
}

.ToggledInput {
  text-decoration: underline;
}


.bold {
  font-weight: bold;
}

.thin {
  font-weight: lighter;
}

.blue-text {
  color: $light-blue;
}

.hidden {
  display: none;
}

.pointer {
  cursor: pointer;
}
