.OnMap {
  display: inline-flex;
  position: relative;
  height: 100%;
  width: 100%;
  .map-area {
    height: 100%;
    width: 60%;
    .map {
      position: relative;
      width: 100%;
      height: 100%;
      margin-top: 40px;
      background: grey;
    }
  }
  .text-area {
    height: 100%;
    width: 40%;
    padding-left: 40px;
    .on-map-title {
      font-size: 40px;
    }
    .points-list {
      list-style-type: none;
      padding: 0;
      margin-top: 100px;
      .point {
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
        .round-marker {
          position: relative;
          bottom: 5px;
          margin-right: 10px;
          width: 40px;
          height: 40px;
          border-radius: 20px;
          background: $light-grey;
          text-align: center;
          padding-top: 10px;
          color: $light-blue;
        }
      }
    }
  }
}
