.Photos {
  padding-left: 40px;
  padding-right: 40px;
  .page-title {
    margin-left: 10px
  }
  .block-title {
    margin-left: 10px;
    font-size: 20px;
  }
  .photos-area {
    margin-top: 40px;
    .one-img {
      width: 100%;
      height: 650px !important;
    }
    .two-img {
      width: 580px;
      height: 650px;
    }
    .four-img {
      width: 580px;
    }
    .six-img {
      width: 380px;
    }
    .eight-img {
      width: 280px;
    }
    .img-box {
      display: inline-block;
      text-align: center;
      height: 315px;
      margin: 10px;
      overflow: hidden;
      .photo-cover {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
        img {
          display: block;
          min-width: 100%;
          min-height: 100%;
          object-fit: cover;
        }
      }
    }

    .plans-box {
      display: inline-block;
      height: 315px;
      text-align: center;
      overflow: hidden;
      img {
        display: block;
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
      }
    }
  }
}
